@use 'colors'
@use 'sizes'
@use 'media-points'
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')


%main
  width: 100%
  margin: 0
  max-width: 100vw

%body
  @extend %main
  padding: 0
  min-height: sizes.$body-min-height

html, body
  @extend %body
  
#root
 @extend %body
 font-family: 'Quicksand', 'Arial', sans-serif
 font-size: 1rem
 position: relative

.main-container 
  @extend %main
  padding: 0 5vw
  
.main-row
  @extend %main
  min-height: sizes.$body-min-height
  padding: 0 0 sizes.$footer-height-md 0

.row-height
  height: sizes.$row-height

.row-m-p
  margin: 0 0 sizes.$margin 0
  padding: sizes.$padding

.col-m-p
  margin: sizes.$margin
  padding: sizes.$padding

.dark-bg
  background-color: colors.$dark

.gray-bg
  background-color: colors.$gray

.blue-bg
  background-color: colors.$blue

.beige-bg
  background-color: colors.$beige

.gold-bg
  background-color: colors.$gold

.relative
  position: relative

@media (max-width: media-points.$layout-breakpoint-md)
  
  .main-row
    padding: 0 0 sizes.$footer-height-xs 0

  #root
    font-size: 1rem