@use 'colors'
@use 'sizes'
@use 'media-points'
@import 'basic'

.main-row-f
  @extend %main
  min-height: sizes.$footer-height-md
  padding: 0

#footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: sizes.$footer-height-md

  .nav-link-footer
    margin: 0 sizes.$margin 0 0
    padding: sizes.$padding  sizes.$padding  sizes.$padding 0
    color: colors.$white
    
    &:hover
      text-decoration: underline

.icon-footer
    font-size: 1rem
    color: colors.$white


@media (max-width: media-points.$layout-breakpoint-md)
  
  #footer
    height: sizes.$footer-height-xs
  