@use 'colors'
@use 'sizes'

.show-all-button
	background-color: colors.$dark
	color: colors.$white 
	padding: sizes.$padding * 2
	margin:  sizes.$margin * 2
	border-radius: 0.3125rem 

.city-name
	position: absolute 
	bottom: 1.25rem 
	right: 0 
	margin: sizes.$margin 0 sizes.$margin sizes.$margin 
	padding: sizes.$padding * 2 
	border-radius: 0.3125rem 0 0 0.3125rem 
	color: colors.$dark
	font-weight: bold 
