@use 'colors'
@use 'sizes'

$top: sizes.$margin + sizes.$padding

%side-navigation-buttons
	position: absolute 
	color: colors.$white 
	right: -3.125rem 
	transition: 0.5s 
	padding: sizes.$padding * 2  
	margin: 0 
	width: 6.25rem 
	text-decoration: none 
	font-size: 1.125rem 
	border-radius: 0.3125rem 0 0 0.3125rem

#side-navigation 
	position: fixed 
	right: 0 
	top: 0 
	height: calc(#{sizes.$body-min-height} + #{$top})
	width: 6.25rem 
	z-index: 10

	.active 
		right: 0 
		background-color: colors.$blue 
		color: colors.$dark
		font-weight: bold 
		
	.nav-link-side
		@extend %side-navigation-buttons
		&:hover
			right: 0

#home-navlink-side
	top: $top

#search-navlink-side
	top: $top + 3.75rem

#about-navlink-side
	top: $top + 7.5rem 
	&.active 
		background-color: colors.$gold 

#gallery-navlink-side
	top:   $top + 11.25rem

#contacts-navlink-side
	top:  $top + 15rem 

#login-button 
	top:   $top + 18.75rem
	border: none 
