@use 'colors'
@use 'sizes'
@use 'media-points'
@use 'tags-and-share'


.basic-main-container 
  @extend %main
  padding: 0 5vw
  
.basic-main-row
  @extend %main
  min-height: sizes.$body-min-height
  padding: 0 0 sizes.$footer-height-md 0

.basic-row-height
  height: sizes.$row-height

.basic-row-m-p
  margin: 0 0 sizes.$margin 0
  padding: sizes.$padding

.basic-col-m-p
  margin: sizes.$margin
  padding: sizes.$padding

.basic-image-size
  height: auto
  max-width: 100%
  max-height: sizes.$row-image-height

.basic-dark-bg
  background-color: colors.$dark

.basic-pink-bg
  background-color: colors.$pink

.basic-mint-bg
  background-color: colors.$mint

.basic-beige-bg
  background-color: colors.$beige

.basic-gold-bg
  background-color: colors.$gold

// .basic-border
//   border-top: 1px solid colors.$dark

.basic-show-all-button
  background-color: colors.$dark
  color: colors.$white 
  padding: sizes.$padding * 2
  margin:  sizes.$margin * 2
  border-radius: 0.3125rem 

.basic-link-hover-gray
  &:hover
    color: colors.$gray

@media (max-width: media-points.$layout-breakpoint-lg)
  
  footer
    height: sizes.$footer-height-xs

  .basic-main-row
    padding: 0 0 sizes.$footer-height-xs 0

  .basic-col-m-p
    margin: sizes.$margin 0
    padding: sizes.$padding

  .basic-row-m-p
    margin: sizes.$margin
    padding: sizes.$padding
    &.xs
      +sizes.reset-m-p

  .basic-row-height
    &.xs-h
      height: 100%
