#side-navigation {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100vh;
	width: 20vw;
}

#side-navigation a,
#side-navigation button {
	position: absolute;
	color: white;
	right: -50px;
	transition: 0.5s;
	padding: 10px;
	margin: 2px 0;
	width: 100px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px 0 0 5px;
	z-index: 10;
}

#side-navigation a:hover,
#side-navigation button:hover {
	right: 0;
}

#home-navlink-sidenav {
	top: 8px;
}
#search-navlink-sidenav {
	top: 68px;
}

#about-navlink-sidenav {
	top: 128px;
}

#gallery-navlink-sidenav {
	top: 188px;
}

#contacts-navlink-sidenav {
	top: 248px;
}

#login-button {
	top: 308px;
	border: none;
}

#side-navigation .active {
	right: 0;
	background-color: rgb(212, 231, 247);
	color: rgb(38, 38, 38);
	font-weight: bold;
}

#about-navlink-sidenav.active {
	right: 0;
	background-color: rgb(233, 181, 99);
	color: rgb(38, 38, 38);
	font-weight: bold;
}
