.row-height {
	height: calc(
		(90vh - 20px) / 3 - 10px
	); /* row margin-bottom 10px, 20px - margin + padding for column*/
}

.row-m-p {
	margin: 0 0 10px 0;
	padding: 5px;
}
.col-m-p {
	margin: 5px;
	padding: 5px;
}

.dark-color-bg {
	background-color: rgb(38, 38, 38);
}
.gray-color-bg {
	background-color: rgb(102, 102, 102);
}
.blue-color-bg {
	background-color: rgb(212, 231, 247);
}
.beige-color-bg {
	background-color: rgb(252, 230, 207);
}
.gold-color-bg {
	background-color: rgb(233, 181, 99);
}

.image-size {
	max-width: 100%;
	max-height: calc(
		(90vh - 20px) / 3 - 10px - 10px
	); /* row height - 10px paddings for inside row */
	position: relative;
}

.container-home,
.row-home {
	min-height: 90vh;
}

#go-to-search {
	background-color: rgb(38, 38, 38);
	font-size: 18px;
	color: white;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
}

.city-name-text {
	position: absolute;
	margin: 10px 0 10px 10px;
	padding: 10px;
	bottom: 20px;
	right: 0;
	border-radius: 5px 0 0 5px;
	color: rgb(38, 38, 38);
	font-weight: bold;
}
.relative {
	position: relative;
}
