@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html,
#root {
	min-height: 100vh;
	width: 100vw;
	font-family: 'Quicksand', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

.row-height {
	height: calc(
		(90vh - 20px) / 3 - 10px
	); /* row margin-bottom 10px, 20px - margin + padding for column*/
}

.row-m-p {
	margin: 0 0 10px 0;
	padding: 5px;
}
.col-m-p {
	margin: 5px;
	padding: 5px;
}

.dark-color-bg {
	background-color: rgb(38, 38, 38);
}
.gray-color-bg {
	background-color: rgb(102, 102, 102);
}
.blue-color-bg {
	background-color: rgb(212, 231, 247);
}
.beige-color-bg {
	background-color: rgb(252, 230, 207);
}
.gold-color-bg {
	background-color: rgb(233, 181, 99);
}

.relative {
	position: relative;
}

/*colors
- dark -> rgb(38, 38, 38)
- gray -> rgb(102, 102, 102)
- light blue -> rgb(212, 231, 247)
- beige -> rgb(252, 230, 207)
- gold -> rgb(233, 181, 99)
*/
