@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, .container{
height: 100vh;
font-family: 'Quicksand', 'Arial', sans-serif;
}

#row-welcome, #row-button {
    height: 25vh;
}
#row-images {
    height: 50vh;
}

