@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html,
#root {
	min-height: 100vh;
	font-family: 'Quicksand', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}
#row-welcome,
#row-button {
	min-height: 25vh;
}
#row-images {
	min-height: 50vh;
}
.under-nav {
	padding-top: 90px;
	min-height: 80vh;
}

.search-columns button {
	width: 100%;
}

.footer {
	min-height: 20vh;
}
